@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  html, body, #root {
    height: 100%;
    overscroll-behavior: none;
  }
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: #FFFFFF;
    color: #1E1B1B;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
